<!DOCTYPE html>
<html>
<head>
    <title>Audio Player</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Random Song Audio Player</h1> <!-- Added heading -->
    <audio id="audio-player" controls></audio>
    <button id="previous">Previous</button>
    <button id="next">Next</button>
    <button id="shuffle">Shuffle</button>
    <div id="current-song"></div>
    <ul id="song-list">
        {% for song in songs %}
        <li data-src="{{ song }}">{{ song }}</li>
        {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='js/audio-player.js') }}"></script>
</body>
</html>

